@font-face {
    font-family: 'arista_pro_alternate_regular';
    src: url('Arista-Pro-Alternate-Regular-trial.ttf') format('arista'),
    url('Arista-Pro-Alternate-Regular-trial.ttf') format('arista');
    font-weight: normal;
    font-style: normal;
}